@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

body {
line-height:1;
-webkit-text-size-adjust:none;
background:#f5f5f5;
}

ol,ul {
list-style:none;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

table {
border-collapse:collapse;
border-spacing:0;
width:100%;
margin:0 0 2em;
}

.modal p {
margin:0 10px 5px;
}

.modal input[type=text] {
width:65%;
margin-left:18%;
}

.fade.in {
background-color:rgba(181,181,181,.5);
}

.modal-content .modal-header {
border-bottom:none;
}

.modal-content .modal-footer {
border-top:none;
text-align:center;
padding:1px;
}

.modal .modal-content {
margin-top:4em;
box-shadow:none;
-webkit-box-shadow:none;
border:1px solid rgba(181,181,181,.5);
background-color:#fff;
text-align:center;
}

*,:before,:after {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

.container {
margin-left:auto;
margin-right:auto;
width:60em;
}

.container.31 2525 {
width:100%;
max-width:75em;
min-width:60em;
}

.container.37 525 {
width:45em;
}

.container.35 025 {
width:30em;
}

.container.32 525 {
width:15em;
}

.row {
border-bottom:solid 1px transparent;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
margin:0 0 -1px -2em;
}

.row > * {
float:left;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
padding:0 0 0 2em;
}

.row:after,.row:before {
content:'';
display:block;
clear:both;
height:0;
}

.row.uniform > * > :first-child {
margin-top:0;
}

.row.uniform > * {
padding:2em 0 0 2em;
}

.row.uniform {
margin:-2em 0 -1px -2em;
}

.row.32 0025 > * {
padding:0 0 0 4em;
}

.row.32 0025 {
margin:0 0 -1px -4em;
}

.row.uniform.32 0025 > * {
padding:4em 0 0 4em;
}

.row.uniform.32 0025 {
margin:-4em 0 -1px -4em;
}

.row.31 5025 > * {
padding:0 0 0 3em;
}

.row.31 5025 {
margin:0 0 -1px -3em;
}

.row.uniform.31 5025 > * {
padding:3em 0 0 3em;
}

.row.uniform.31 5025 {
margin:-3em 0 -1px -3em;
}

.row.35 025 > * {
padding:0 0 0 1em;
}

.row.35 025 {
margin:0 0 -1px -1em;
}

.row.uniform.35 025 > * {
padding:1em 0 0 1em;
}

.row.uniform.35 025 {
margin:-1em 0 -1px -1em;
}

.row.32 525 {
margin:0 0 -1px -.5em;
}

.row.uniform.32 525 > * {
padding:.5em 0 0 .5em;
}

.row.uniform.32 525 {
margin:-.5em 0 -1px -.5em;
}

.31 2u,.31 2u24 {
width:100%;
clear:none;
margin-left:0;
}

.31 1u,.31 1u24 {
width:91.666667%;
clear:none;
margin-left:0;
}

.31 0u,.31 0u24 {
width:83.333333%;
clear:none;
margin-left:0;
}

.39 u,.39 u24 {
width:75%;
clear:none;
margin-left:0;
}

.38 u,.38 u24 {
width:66.666667%;
clear:none;
margin-left:0;
}

.37 u,.37 u24 {
width:58.333333%;
clear:none;
margin-left:0;
}

.36 u,.36 u24 {
width:50%;
clear:none;
margin-left:0;
}

.35 u,.35 u24 {
width:41.666667%;
clear:none;
margin-left:0;
}

.34 u,.34 u24 {
width:33.333333%;
clear:none;
margin-left:0;
}

.33 u,.33 u24 {
width:25%;
clear:none;
margin-left:0;
}

.32 u,.32 u24 {
width:16.666667%;
clear:none;
margin-left:0;
}

.31 u,.31 u24 {
width:8.3333333%;
clear:none;
margin-left:0;
}

.31 2u24 + *,.31 1u24 + *,.31 0u24 + *,.39 u24 + *,.38 u24 + *,.37 u24 + *,.36 u24 + *,.35 u24 + *,.34 u24 + *,.33 u24 + *,.32 u24 + *,.31 u24 + * {
clear:left;
}

.-11u {
margin-left:91.66667%;
}

.-10u {
margin-left:83.33333%;
}

.-9u {
margin-left:75%;
}

.-8u {
margin-left:66.66667%;
}

.-7u {
margin-left:58.33333%;
}

.-6u {
margin-left:50%;
}

.-5u {
margin-left:41.66667%;
}

.-4u {
margin-left:33.33333%;
}

.-3u {
margin-left:25%;
}

.-2u {
margin-left:16.66667%;
}

.-1u {
margin-left:8.33333%;
}

body,input,select,textarea {
color:#777;
font-family:Roboto-Regular, sans-serif;
font-size:16pt;
font-weight:300;
line-height:1.65em;
letter-spacing:-.015em;
}

a {
-moz-transition:color .2s ease-in-out, border-bottom-color .2s ease-in-out;
-webkit-transition:color .2s ease-in-out, border-bottom-color .2s ease-in-out;
-ms-transition:color .2s ease-in-out, border-bottom-color .2s ease-in-out;
transition:color .2s ease-in-out, border-bottom-color .2s ease-in-out;
border-bottom:dotted 1px;
color:#e89980;
text-decoration:none;
}

a:hover {
border-bottom-color:transparent;
}

strong,b {
color:#FFF;
font-weight:400;
}

em,i {
font-style:italic;
}

h1,h2,h3,h4,h5,h6 {
color:#646464;
font-weight:300;
line-height:1em;
margin:0 0 .5em;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
color:inherit;
text-decoration:none;
}

h2 {
font-size:2.25em;
line-height:1.5em;
letter-spacing:-.035em;
color:#1E7DB0;
}

h3 {
font-size:1.75em;
line-height:1.5em;
letter-spacing:-.025em;
color:#1E7DB0;
}

h4 {
font-size:1.1em;
line-height:1.5em;
letter-spacing:0;
}

h5 {
font-size:.9em;
line-height:1.5em;
letter-spacing:0;
}

h6 {
font-size:.7em;
line-height:1.5em;
letter-spacing:0;
}

sub {
font-size:.8em;
position:relative;
top:.5em;
}

sup {
font-size:.8em;
position:relative;
top:-.5em;
}

hr {
border:0;
border-bottom:solid 2px #e5e5e5;
margin:2em 0;
}

hr.major {
margin:3em 0;
}

blockquote {
border-left:solid 4px #e5e5e5;
font-style:italic;
margin:0 0 2em;
padding:.5em 0 .5em 2em;
}

pre {
-webkit-overflow-scrolling:touch;
background:#f8f8f8;
border-radius:6px;
border:solid 1px #e5e5e5;
font-family:monospace;
font-size:.9em;
line-height:1.75em;
overflow-x:auto;
margin:0 0 2em;
padding:1em 1.5em;
}

code {
background:#f8f8f8;
border-radius:6px;
border:solid 1px #e5e5e5;
font-family:monospace;
font-size:.9em;
margin:0 .25em;
padding:.25em .65em;
}

.align-left {
text-align:left;
}

.align-right {
text-align:right;
}

header p {
color:#999;
position:relative;
font-style:italic;
margin:0 0 1.5em;
}

header h2 + p {
font-size:1.25em;
margin-top:-1em;
line-height:1.5em;
}

header h3 + p {
font-size:1.1em;
margin-top:-.85em;
line-height:1.5em;
}

header h4 + p,header h5 + p,header h6 + p {
font-size:.8em;
margin-top:-.5em;
line-height:1.5em;
}

header.major {
text-align:center;
padding:1em 0;
}

header.major h2 {
color:#1E7DB0;
margin:0;
}

header.major p {
display:inline-block;
border-top:solid 2px #e5e5e5;
color:#777;
font-style:normal;
margin:1.5em 0 0;
padding:1.5em 0 0;
}

label {
color:#646464;
display:block;
font-size:.9em;
font-weight:300;
margin:0 0 1em;
}

input[type=text],input[type=password],input[type=email],select,textarea {
-moz-appearance:none;
-webkit-appearance:none;
-ms-appearance:none;
appearance:none;
background:#f8f8f8;
border-radius:6px;
border:solid 1px #e5e5e5;
color:inherit;
display:block;
outline:0;
text-decoration:none;
width:100%;
padding:0 1em;
}

input[type=text]:invalid,input[type=password]:invalid,input[type=email]:invalid,select:invalid,textarea:invalid {
box-shadow:none;
}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,select:focus,textarea:focus {
box-shadow:0 0 0 2px #e89980;
border-color:#e89980;
}

.select-wrapper {
text-decoration:none;
display:block;
position:relative;
}

.select-wrapper:before {
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-family:FontAwesome;
font-style:normal;
font-weight:400;
text-transform:none!important;
color:#e5e5e5;
content:'f078';
display:block;
height:3em;
line-height:3em;
pointer-events:none;
position:absolute;
right:0;
text-align:center;
top:0;
width:3em;
}

input[type=text],input[type=password],input[type=email],select {
height:3em;
}

textarea {
padding:.75em 1em;
}

input[type=checkbox],input[type=radio] {
-moz-appearance:none;
-webkit-appearance:none;
-ms-appearance:none;
appearance:none;
display:block;
float:left;
margin-right:-2em;
opacity:0;
width:1em;
z-index:-1;
}

input[type=checkbox] + label,input[type=radio] + label {
text-decoration:none;
color:#777;
cursor:pointer;
display:inline-block;
font-size:1em;
font-weight:300;
padding-left:2.55em;
padding-right:.75em;
position:relative;
}

input[type=checkbox] + label:before,input[type=radio] + label:before {
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-family:FontAwesome;
font-style:normal;
font-weight:400;
text-transform:none!important;
background:#f8f8f8;
border-radius:6px;
border:solid 1px #e5e5e5;
content:'';
display:inline-block;
height:1.8em;
left:0;
line-height:1.725em;
position:absolute;
text-align:center;
top:0;
width:1.8em;
}

input[type=checkbox]:checked + label:before,input[type=radio]:checked + label:before {
background:#666;
color:#fff;
content:'f00c';
border-color:#666;
}

input[type=checkbox]:focus + label:before,input[type=radio]:focus + label:before {
box-shadow:0 0 0 1px #e89980;
border-color:#e89980;
}

input[type=checkbox] + label:before {
border-radius:6px;
}

input[type=radio] + label:before {
border-radius:100%;
}

.box {
background:#fff;
border-radius:6px;
box-shadow:0 2px 0 0 #e5e5e5;
margin:0 0 2em;
padding:3em;
}

.box.alt {
background:none!important;
border-radius:0!important;
box-shadow:none!important;
margin:0 0 2em;
padding:0!important;
}

.box.features .features-row {
border-top:solid 2px #e5e5e5;
position:relative;
}

.box.features .features-row:after {
clear:both;
content:'';
display:block;
}

.box.features .features-row section {
float:left;
width:50%;
padding:3em;
}

.box.features .features-row section:nth-child(2n):before {
background:#e5e5e5;
content:'';
display:block;
height:100%;
margin-left:-3em;
position:absolute;
top:0;
width:2px;
}

.box.features .features-row section:nth-child(2n-1) {
padding-left:0;
}

.box.phone {
background-color:#85B3D6;
overflow:hidden;
}

.box.phone .tech-block {
width:220px;
height:270px;
float:left;
position:relative;
margin:10px 10px 0;
}

.box.phone .one-tech {
background-image:url(../img/router-min.png);
background-repeat:no-repeat;
background-position:left top;
background-size:7.5em 5.5em;
margin-left:5em;
}

.box.phone .two-tech {
background-image:url(../img/phone1-min.png);
background-repeat:no-repeat;
background-position:left top;
background-size:7.5em 15.5em;
}

.box.phone .three-tech {
background-image:url(../img/phone2-min.png);
background-repeat:no-repeat;
background-position:left top;
background-size:7.5em 15.5em;
}

.box.phone .four-tech {
background-image:url(../img/phone3-min.png);
background-repeat:no-repeat;
background-position:left top;
background-size:7.5em 15.5em;
margin-left:17em;
}

.box.phone .five-tech {
background-image:url(../img/phone4-min.png);
background-repeat:no-repeat;
background-position:left top;
background-size:7.5em 15.5em;
}

.box.phone .text {
width:185px;
height:90px;
background-color:#47BEFC;
text-align:left;
vertical-align:middle;
margin:7.5em 10px 0 auto;
padding:5px;
}

.box.phone .text p {
color:#fff;
text-transform:uppercase;
line-height:16px;
}

.box.phone .line {
position:absolute;
width:55px;
height:3px;
left:210px;
top:190px;
z-index:10;
background-color:#47BEFC;
}

.box .image.featured {
border-radius:0;
display:block;
position:relative;
width:calc(100%+6em);
margin:3em 0 3em -3em;
}

.box .image.featured img {
border-radius:0;
display:block;
width:100%;
}

.box .image.featured:first-child {
border-radius:6px 6px 0 0;
margin-bottom:3em;
margin-top:-3em;
}

.box .image.featured:first-child img {
border-radius:6px 6px 0 0;
}

.box .image.featured:last-child {
border-radius:0 0 6px 6px;
margin-bottom:-3em;
margin-top:3em;
}

.box .image.featured:last-child img {
border-radius:0 0 6px 6px;
}

.icon {
text-decoration:none;
border-bottom:none;
position:relative;
}

.icon:before {
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-family:FontAwesome;
font-style:normal;
font-weight:400;
text-transform:none!important;
}

.icon.major {
background:#666;
border-radius:100%;
color:#fff;
cursor:default;
display:inline-block;
height:5.5em;
line-height:5.5em;
width:5.5em;
margin:0 0 2em;
}

.icon.major:before {
font-size:2.5em;
}

.icon.major.accent1 {
background:#666;
color:#fff;
}

.icon.major.accent2 {
background:#1E7DB0;
color:#fff;
}

.icon.major.accent3 {
background:#514BC3;
color:#fff;
}

.icon.major.accent4 {
background:#85B3D6;
color:#fff;
}

.icon.major.accent5 {
background:#40BF53;
color:#fff;
}

.icon.major.accent6 {
background:#BF40AE;
color:#fff;
}

.icon.major.accent7 {
background:#bbbf40;
color:#fff;
}

.image {
border-radius:6px;
border:0;
display:inline-block;
position:relative;
}

.image img {
border-radius:6px;
display:block;
}

.image.left {
float:left;
top:.25em;
padding:0 1.5em 1em 0;
}

.image.right {
float:right;
top:.25em;
padding:0 0 1em 1.5em;
}

.image.fit {
display:block;
width:100%;
margin:0 0 2em;
}

.image.fit img {
display:block;
width:100%;
}

ol {
list-style:decimal;
padding-left:1.25em;
margin:0 0 2em;
}

ol li {
padding-left:.25em;
}

ul {
list-style:disc;
padding-left:1em;
margin:0 0 2em;
}

ul li {
padding-left:.5em;
}

ul.alt {
list-style:none;
padding-left:0;
}

ul.alt li {
border-top:solid 1px #e5e5e5;
padding:.5em 0;
}

ul.alt li:first-child {
border-top:0;
padding-top:0;
}

ul.icons li {
display:inline-block;
padding:0 1.25em 0 0;
}

ul.icons li .icon:before {
font-size:1.75em;
}

ul.actions li {
display:inline-block;
vertical-align:middle;
padding:0 1em 0 0;
}

ul.actions.small li {
padding:0 .5em 0 0;
}

ul.actions.vertical li {
display:block;
padding:1em 0 0;
}

ul.actions.vertical.small li {
padding:.5em 0 0;
}

ul.actions.fit {
display:table;
margin-left:-1em;
table-layout:fixed;
width:calc(100%+1em);
padding:0;
}

ul.actions.fit li {
display:table-cell;
padding:0 0 0 1em;
}

ul.actions.fit.small {
margin-left:-.5em;
width:calc(100%+0.5em);
}

.table-wrapper {
-webkit-overflow-scrolling:touch;
overflow-x:auto;
}

table tbody tr {
border:solid 1px #e5e5e5;
border-left:0;
border-right:0;
}

table tbody tr:nth-child(2n + 1) {
background-color:#f8f8f8;
}

table td {
padding:.75em;
}

table th {
color:#646464;
font-size:.9em;
font-weight:300;
text-align:left;
padding:0 .75em .75em;
}

table thead {
border-bottom:solid 2px #e5e5e5;
}

table tfoot {
border-top:solid 2px #e5e5e5;
}

table.alt {
border-collapse:separate;
}

table.alt tbody tr td {
border:solid 1px #e5e5e5;
border-left-width:0;
border-top-width:0;
}

table.alt tbody tr td:first-child {
border-left-width:1px;
}

table.alt tbody tr:first-child td {
border-top-width:1px;
}

table.alt thead {
border-bottom:0;
}

input[type=submit],input[type=reset],input[type=button],.button {
-moz-appearance:none;
-webkit-appearance:none;
-ms-appearance:none;
appearance:none;
-moz-transition:background-color .2s ease-in-out, color .2s ease-in-out;
-webkit-transition:background-color .2s ease-in-out, color .2s ease-in-out;
-ms-transition:background-color .2s ease-in-out, color .2s ease-in-out;
transition:background-color .2s ease-in-out, color .2s ease-in-out;
background-color:#666;
border-radius:6px;
border:0;
color:#fff;
cursor:pointer;
display:inline-block;
font-weight:400;
height:3em;
line-height:3em;
text-align:center;
text-decoration:none;
white-space:nowrap;
padding:0 2em;
}

input[type=submit]:hover,input[type=reset]:hover,input[type=button]:hover,.button:hover {
background-color:#737373;
}

input[type=submit]:active,input[type=reset]:active,input[type=button]:active,.button:active {
background-color:#595959;
}

input[type=submit].icon,input[type=reset].icon,input[type=button].icon,.button.icon {
padding-left:1.35em;
}

input[type=submit].icon:before,input[type=reset].icon:before,input[type=button].icon:before,.button.icon:before {
margin-right:.5em;
}

input[type=submit].fit,input[type=reset].fit,input[type=button].fit,.button.fit {
display:block;
width:100%;
margin:0 0 1em;
}

input[type=submit].small,input[type=reset].small,input[type=button].small,.button.small {
font-size:.8em;
height:2.7em;
line-height:2.7em;
}

input[type=submit].big,input[type=reset].big,input[type=button].big,.button.big {
font-size:1.25em;
height:2.7em;
line-height:2.7em;
}

input[type=submit].alt,input[type=reset].alt,input[type=button].alt,.button.alt {
background-color:#40bf53;
box-shadow:inset 0 0 0 2px #e5e5e5;
color:#FFF;
text-decoration:none;
outline:none;
}

.button.block {
margin-top:2em;
width:200px;
}

input[type=submit].alt:hover,input[type=reset].alt:hover,input[type=button].alt:hover,.button.alt:hover {
background-color:rgba(64,191,83,0.6);
}

input[type=submit].alt:active,input[type=reset].alt:active,input[type=button].alt:active,.button.alt:active {
background-color:#f0f0f0;
}

input[type=submit].alt.icon:before,input[type=reset].alt.icon:before,input[type=button].alt.icon:before,.button.alt.icon:before {
color:#999;
}

input[type=submit].special,input[type=reset].special,input[type=button].special,.button.special {
background-color:#e89980;
color:#fff!important;
}

input[type=submit].special:hover,input[type=reset].special:hover,input[type=button].special:hover,.button.special:hover {
background-color:#ecaa96;
}

input[type=submit].special:active,input[type=reset].special:active,input[type=button].special:active,.button.special:active {
background-color:#e4886a;
}

input[type=submit].disabled,input[type=submit]:disabled,input[type=reset].disabled,input[type=reset]:disabled,input[type=button].disabled,input[type=button]:disabled,.button.disabled,.button:disabled {
background-color:#777!important;
box-shadow:inset 0 -.15em 0 0 rgba(0,0,0,0.15);
color:#f5f5f5!important;
cursor:default;
opacity:0.25;
}

#page-wrapper {
padding-top:3em;
}

100% {
top:0;
}

#header {
background:#1E7DB0;
color:#bbb;
cursor:default;
height:3.25em;
left:0;
line-height:3.25em;
position:fixed;
top:0;
width:100%;
z-index:10000;
}

#header h1 {
color:inherit;
height:inherit;
left:1.25em;
line-height:inherit;
margin-left:0;
position:absolute;
top:0;
padding:0;
}

#header h1 a {
color:#fff;
font-weight:400;
border:0;
}

#header nav {
height:inherit;
line-height:inherit;
position:absolute;
right:.75em;
top:0;
vertical-align:middle;
}

#header nav > ul {
list-style:none;
padding-left:0;
margin:0;
}

#header nav > ul > li {
display:inline-block;
padding-left:0;
}

#header nav > ul > li a {
display:inline-block;
height:2em;
line-height:1.95em;
border-radius:6px;
padding:0 1em;
}

#header nav > ul > li a:not(.button) {
color:#fff;
display:inline-block;
text-decoration:none;
border:0;
}

#header nav > ul > li a:not(.button).icon:before {
color:#999;
margin-right:.5em;
}

#header nav > ul > li:first-child {
margin-left:0;
}

#header nav > ul > li.active a:not(.button) {
background-color:rgba(153,153,153,0.25);
}

#header nav > ul > li .button {
position:relative;
margin:0 0 0 .5em;
}

#header input[type=submit],#header input[type=reset],#header input[type=button],#header .button {
background-color:transparent;
box-shadow:inset 0 0 0 2px rgba(255,255,255,0.5);
color:#fff;
}

#header .contacts {
width:100px;
margin-left:10em;
line-height:1.5em;
}

#header .contacts a.city {
color:#fff;
text-decoration:none;
}

#header .contacts a.phone {
color:#fff;
border:none;
text-decoration:none;
}

#header .container {
position:relative;
}

#header .container h1 {
left:0;
}

#header .container nav {
right:0;
}

#header img {
width:100px;
margin-left:10px;
margin-top:10px;
float:left;
}

#header.reveal {
-moz-animation:reveal-header .5s;
-webkit-animation:reveal-header .5s;
-ms-animation:reveal-header .5s;
animation:reveal-header .5s;
}

#header.alt {
-moz-animation:none;
-webkit-animation:none;
-ms-animation:none;
animation:none;
background:none;
color:rgba(255,255,255,0.75);
position:absolute;
}

#header.alt nav > ul > li a:not(.button).icon:before {
color:rgba(255,255,255,0.75);
}

#header.alt input[type=submit],#header.alt input[type=reset],#header.alt input[type=button],#header.alt .button {
box-shadow:inset 0 0 0 2px rgba(255,255,255,0.5);
}

.dropotron {
background:#fff;
border-radius:6px;
box-shadow:0 2px 0 0 rgba(0,0,0,0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px rgba(229,229,229,0.5);
list-style:none;
width:11em;
margin:calc(-0.5em+1px) 0 0 1px;
padding:.5em 0;
}

.dropotron li a,.dropotron li span {
-moz-transition:none;
-webkit-transition:none;
-ms-transition:none;
transition:none;
border:0;
border-top:solid 1px #f2f2f2;
color:inherit;
display:block;
padding:.15em 1em;
}

.dropotron li.active > a,.dropotron li.active > span,.dropotron li:hover > a,.dropotron li:hover > span {
background:#e89980;
color:#fff;
}

.dropotron.level-0 {
font-size:.9em;
margin:1em 0 0;
}

.dropotron.level-0:before {
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg);
background:#fff;
border:solid 1px rgba(229,229,229,0.5);
border-bottom:0;
border-right:0;
box-shadow:-.25em -.125em .125em 0 rgba(0,0,0,0.015);
content:'';
display:block;
height:.75em;
position:absolute;
right:1.25em;
top:-.375em;
width:.75em;
z-index:0;
}

#banner {
background-attachment:scroll, fixed;
background-color:#666;
background-image:url(images/overlay-min.png), url(../../images/banner.jpg);
background-position:top left, center center;
background-repeat:repeat, no-repeat;
background-size:auto, cover;
color:#fff;
text-align:center;
padding:12em 0 20em;
}

#banner h2 {
font-size:3.5em;
line-height:1em;
margin:0 0 .5em;
padding:0;
}

#banner p {
font-size:1.25em;
margin-bottom:1.75em;
}

#banner img {
width:136px;
}

#banner input[type=submit],#banner input[type=reset],#banner input[type=button],#banner .button {
background-color:transparent;
box-shadow:inset 0 0 0 2px rgba(255,255,255,0.5);
color:#fff;
min-width:12em;
text-decoration:none;
}

#banner input[type=submit]:hover,#banner input[type=reset]:hover,#banner input[type=button]:hover,#banner .button:hover {
background-color:rgba(255,255,255,0.1);
outline:none;
}

#banner input[type=submit].special,#banner input[type=reset].special,#banner input[type=button].special,#banner .button.special {
background:#fff;
color:#666!important;
}

#main {
padding:4em 0;
}

#main > header {
text-align:center;
margin:0 0 3em;
}

#main > header h2 {
font-size:2.75em;
margin:0;
}

#main > header p {
border-top:solid 2px #e5e5e5;
color:#777;
display:inline-block;
font-style:normal;
margin:1em 0 0;
padding:1em 0 1.25em;
}

body.landing #main {
margin-top:-14em;
}

#footer {
background:#f0f0f0;
text-align:center;
padding:4em 0 6em;
}

#footer .icons a {
-moz-transition:opacity .2s ease-in-out;
-webkit-transition:opacity .2s ease-in-out;
-ms-transition:opacity .2s ease-in-out;
transition:opacity .2s ease-in-out;
opacity:0.35;
}

#footer .icons a:hover {
opacity:0.75;
}

#footer .copyright {
color:#999;
font-size:2em;
line-height:1em;
text-align:center;
margin:2em 0 0;
padding:0;
}

#footer .copyright li {
border-left:solid 1px #ddd;
display:inline-block;
list-style:none;
margin-left:1em;
padding-left:1em;
}

#footer .copyright li:first-child {
border-left:0;
margin-left:0;
padding-left:0;
}

#cta {
background:#85B3D6;
color:#fff;
text-align:center;
padding:3.5em 0 4em;
}

#cta form {
max-width:100%;
width:35em;
margin:0 auto;
}

#cta input[type=submit],#cta input[type=reset],#cta input[type=button],#cta .button {
box-shadow:none;
background:#fff;
color:#85B3D6;
margin:4em 0 0 -11.8em;
}

#cta input[type=text],#cta input[type=password],#cta input[type=email],#cta select,#cta textarea {
color:#fff;
background:rgba(255,255,255,0.15);
border:0;
margin-left:6.1em;
}

#cta input[type=text]:focus,#cta input[type=password]:focus,#cta input[type=email]:focus,#cta select:focus,#cta textarea:focus {
box-shadow:inset 0 0 0 2px #fff;
}

.row.uniform > * > :last-child,.box > :last-child,.box.features .features-row section :last-child,ul.actions.vertical li > *,ul.actions.fit li > *,#banner :last-child {
margin-bottom:0;
}

.row.30 25 > *,.row.uniform.30 25 > *,.dropotron li {
padding:0;
}

.row.30 25,.row.uniform.30 25 {
margin:0 0 -1px;
}

.row.32 525 > *,ul.actions.fit.small li {
padding:0 0 0 .5em;
}

p,form,dl {
margin:0 0 2em;
}

.align-center,section.special,article.special,.box.special {
text-align:center;
}

.select-wrapper select::-ms-expand,.icon > .label,#header nav > ul > li > ul,#navPanel,#navButton {
display:none;
}

::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder,.formerize-placeholder {
color:#999!important;
opacity:1.0;
}

.box.features .features-row section:nth-child(2n),ul.icons li:last-child,ul.actions li:last-child {
padding-right:0;
}

.box.features .features-row:first-child,table.alt tfoot,.dropotron li:first-child > a,.dropotron li:first-child > span {
border-top:0;
}

.box.features .features-row:first-child section,ul.actions.vertical li:first-child,ul.actions.vertical.small li:first-child,body.landing #page-wrapper {
padding-top:0;
}

.box.features .features-row:last-child,.box.features .features-row:last-child section {
padding-bottom:0;
}

.box.phone h2,#banner h2,#banner h3,#banner h4,#banner h5,#banner h6 {
color:#fff;
}

ul.icons,ul.actions {
cursor:default;
list-style:none;
padding-left:0;
}

ul.icons li .icon,#footer .copyright a,#cta h2,#cta h3,#cta h4,#cta h5,#cta h6 {
color:inherit;
}

#header input[type=submit]:hover,#header input[type=reset]:hover,#header input[type=button]:hover,#header .button:hover,#header input[type=submit]:active,#header input[type=reset]:active,#header input[type=button]:active,#header .button:active {
background-color:rgba(255,255,255,0.25);
}

#header.alt nav > ul > li.active a:not(.button),#header.alt input[type=submit]:hover,#header.alt input[type=reset]:hover,#header.alt input[type=button]:hover,#header.alt .button:hover,#header.alt input[type=submit]:active,#header.alt input[type=reset]:active,#header.alt input[type=button]:active,#header.alt .button:active,#banner input[type=submit]:active,#banner input[type=reset]:active,#banner input[type=button]:active,#banner .button:active {
background-color:rgba(255,255,255,0.2);
}

#cta ::-webkit-input-placeholder,#cta :-moz-placeholder,#cta ::-moz-placeholder,#cta :-ms-input-placeholder,#cta .formerize-placeholder {
color:rgba(255,255,255,0.75)!important;
}

@media screen and max-width 1680px {
.container.31 2525 {
width:100%;
max-width:75em;
min-width:60em;
}

.container.37 525 {
width:45em;
}

.container.35 025 {
width:30em;
}

.container.32 525 {
width:15em;
}

.container {
width:60em;
}

.row > * {
padding:0 0 0 2em;
}

.row {
margin:0 0 -1px -2em;
}

.row.uniform > * {
padding:2em 0 0 2em;
}

.row.uniform {
margin:-2em 0 -1px -2em;
}

.row.32 0025 > * {
padding:0 0 0 4em;
}

.row.32 0025 {
margin:0 0 -1px -4em;
}

.row.uniform.32 0025 > * {
padding:4em 0 0 4em;
}

.row.uniform.32 0025 {
margin:-4em 0 -1px -4em;
}

.row.31 5025 > * {
padding:0 0 0 3em;
}

.row.31 5025 {
margin:0 0 -1px -3em;
}

.row.uniform.31 5025 > * {
padding:3em 0 0 3em;
}

.row.uniform.31 5025 {
margin:-3em 0 -1px -3em;
}

.row.35 025 > * {
padding:0 0 0 1em;
}

.row.35 025 {
margin:0 0 -1px -1em;
}

.row.uniform.35 025 > * {
padding:1em 0 0 1em;
}

.row.uniform.35 025 {
margin:-1em 0 -1px -1em;
}

.row.32 525 > * {
padding:0 0 0 .5em;
}

.row.32 525 {
margin:0 0 -1px -.5em;
}

.row.uniform.32 525 > * {
padding:.5em 0 0 .5em;
}

.row.uniform.32 525 {
margin:-.5em 0 -1px -.5em;
}

.31 2u28wide29,.31 2u2428wide29 {
width:100%;
clear:none;
margin-left:0;
}

.31 1u28wide29,.31 1u2428wide29 {
width:91.666667%;
clear:none;
margin-left:0;
}

.31 0u28wide29,.31 0u2428wide29 {
width:83.333333%;
clear:none;
margin-left:0;
}

.39 u28wide29,.39 u2428wide29 {
width:75%;
clear:none;
margin-left:0;
}

.38 u28wide29,.38 u2428wide29 {
width:66.666667%;
clear:none;
margin-left:0;
}

.37 u28wide29,.37 u2428wide29 {
width:58.333333%;
clear:none;
margin-left:0;
}

.36 u28wide29,.36 u2428wide29 {
width:50%;
clear:none;
margin-left:0;
}

.35 u28wide29,.35 u2428wide29 {
width:41.666667%;
clear:none;
margin-left:0;
}

.34 u28wide29,.34 u2428wide29 {
width:33.333333%;
clear:none;
margin-left:0;
}

.33 u28wide29,.33 u2428wide29 {
width:25%;
clear:none;
margin-left:0;
}

.32 u28wide29,.32 u2428wide29 {
width:16.666667%;
clear:none;
margin-left:0;
}

.31 u28wide29,.31 u2428wide29 {
width:8.3333333%;
clear:none;
margin-left:0;
}

.31 2u2428wide29 + *,.31 1u2428wide29 + *,.31 0u2428wide29 + *,.39 u2428wide29 + *,.38 u2428wide29 + *,.37 u2428wide29 + *,.36 u2428wide29 + *,.35 u2428wide29 + *,.34 u2428wide29 + *,.33 u2428wide29 + *,.32 u2428wide29 + *,.31 u2428wide29 + * {
clear:left;
}

.-11u28wide29 {
margin-left:91.66667%;
}

.-10u28wide29 {
margin-left:83.33333%;
}

.-9u28wide29 {
margin-left:75%;
}

.-8u28wide29 {
margin-left:66.66667%;
}

.-7u28wide29 {
margin-left:58.33333%;
}

.-6u28wide29 {
margin-left:50%;
}

.-5u28wide29 {
margin-left:41.66667%;
}

.-4u28wide29 {
margin-left:33.33333%;
}

.-3u28wide29 {
margin-left:25%;
}

.-2u28wide29 {
margin-left:16.66667%;
}

.-1u28wide29 {
margin-left:8.33333%;
}

body,input,select,textarea {
font-size:13pt;
}

#banner {
padding:10em 0 18em;
}
}

@media screen and max-width 1280px {
.container.31 2525 {
width:100%;
max-width:75em;
min-width:60em;
}

.container.37 525 {
width:45em;
}

.container.35 025 {
width:30em;
}

.container.32 525 {
width:15em;
}

.container {
width:60em;
}

.row > * {
padding:0 0 0 2em;
}

.row {
margin:0 0 -1px -2em;
}

.row.uniform > * {
padding:2em 0 0 2em;
}

.row.uniform {
margin:-2em 0 -1px -2em;
}

.row.32 0025 > * {
padding:0 0 0 4em;
}

.row.32 0025 {
margin:0 0 -1px -4em;
}

.row.uniform.32 0025 > * {
padding:4em 0 0 4em;
}

.row.uniform.32 0025 {
margin:-4em 0 -1px -4em;
}

.row.31 5025 > * {
padding:0 0 0 3em;
}

.row.31 5025 {
margin:0 0 -1px -3em;
}

.row.uniform.31 5025 > * {
padding:3em 0 0 3em;
}

.row.uniform.31 5025 {
margin:-3em 0 -1px -3em;
}

.row.35 025 > * {
padding:0 0 0 1em;
}

.row.35 025 {
margin:0 0 -1px -1em;
}

.row.uniform.35 025 > * {
padding:1em 0 0 1em;
}

.row.uniform.35 025 {
margin:-1em 0 -1px -1em;
}

.row.32 525 > * {
padding:0 0 0 .5em;
}

.row.32 525 {
margin:0 0 -1px -.5em;
}

.row.uniform.32 525 > * {
padding:.5em 0 0 .5em;
}

.row.uniform.32 525 {
margin:-.5em 0 -1px -.5em;
}

.31 2u28normal29,.31 2u2428normal29 {
width:100%;
clear:none;
margin-left:0;
}

.31 1u28normal29,.31 1u2428normal29 {
width:91.666667%;
clear:none;
margin-left:0;
}

.31 0u28normal29,.31 0u2428normal29 {
width:83.333333%;
clear:none;
margin-left:0;
}

.39 u28normal29,.39 u2428normal29 {
width:75%;
clear:none;
margin-left:0;
}

.38 u28normal29,.38 u2428normal29 {
width:66.666667%;
clear:none;
margin-left:0;
}

.37 u28normal29,.37 u2428normal29 {
width:58.333333%;
clear:none;
margin-left:0;
}

.36 u28normal29,.36 u2428normal29 {
width:50%;
clear:none;
margin-left:0;
}

.35 u28normal29,.35 u2428normal29 {
width:41.666667%;
clear:none;
margin-left:0;
}

.34 u28normal29,.34 u2428normal29 {
width:33.333333%;
clear:none;
margin-left:0;
}

.33 u28normal29,.33 u2428normal29 {
width:25%;
clear:none;
margin-left:0;
}

.32 u28normal29,.32 u2428normal29 {
width:16.666667%;
clear:none;
margin-left:0;
}

.31 u28normal29,.31 u2428normal29 {
width:8.3333333%;
clear:none;
margin-left:0;
}

.31 2u2428normal29 + *,.31 1u2428normal29 + *,.31 0u2428normal29 + *,.39 u2428normal29 + *,.38 u2428normal29 + *,.37 u2428normal29 + *,.36 u2428normal29 + *,.35 u2428normal29 + *,.34 u2428normal29 + *,.33 u2428normal29 + *,.32 u2428normal29 + *,.31 u2428normal29 + * {
clear:left;
}

.-11u28normal29 {
margin-left:91.66667%;
}

.-10u28normal29 {
margin-left:83.33333%;
}

.-9u28normal29 {
margin-left:75%;
}

.-8u28normal29 {
margin-left:66.66667%;
}

.-7u28normal29 {
margin-left:58.33333%;
}

.-6u28normal29 {
margin-left:50%;
}

.-5u28normal29 {
margin-left:41.66667%;
}

.-4u28normal29 {
margin-left:33.33333%;
}

.-3u28normal29 {
margin-left:25%;
}

.-2u28normal29 {
margin-left:16.66667%;
}

.-1u28normal29 {
margin-left:8.33333%;
}

body,input,select,textarea {
font-size:11pt;
}

.dropotron.level-0 {
font-size:1em;
}

#banner {
background-attachment:scroll;
}

#banner h2 {
font-size:3.5em;
}
}

@media screen and max-width 980px {
.container.31 2525 {
width:100%;
max-width:112.5%;
min-width:90%;
}

.container.37 525 {
width:67.5%;
}

.container.35 025 {
width:45%;
}

.container.32 525 {
width:22.5%;
}

.container {
width:90%;
}

.row > * {
padding:0 0 0 2em;
}

.row {
margin:0 0 -1px -2em;
}

.row.uniform > * {
padding:2em 0 0 2em;
}

.row.uniform {
margin:-2em 0 -1px -2em;
}

.row.32 0025 > * {
padding:0 0 0 4em;
}

.row.32 0025 {
margin:0 0 -1px -4em;
}

.row.uniform.32 0025 > * {
padding:4em 0 0 4em;
}

.row.uniform.32 0025 {
margin:-4em 0 -1px -4em;
}

.row.31 5025 > * {
padding:0 0 0 3em;
}

.row.31 5025 {
margin:0 0 -1px -3em;
}

.row.uniform.31 5025 > * {
padding:3em 0 0 3em;
}

.row.uniform.31 5025 {
margin:-3em 0 -1px -3em;
}

.row.35 025 > * {
padding:0 0 0 1em;
}

.row.35 025 {
margin:0 0 -1px -1em;
}

.row.uniform.35 025 > * {
padding:1em 0 0 1em;
}

.row.uniform.35 025 {
margin:-1em 0 -1px -1em;
}

.row.32 525 > * {
padding:0 0 0 .5em;
}

.row.32 525 {
margin:0 0 -1px -.5em;
}

.row.uniform.32 525 > * {
padding:.5em 0 0 .5em;
}

.row.uniform.32 525 {
margin:-.5em 0 -1px -.5em;
}

.31 2u28narrow29,.31 2u2428narrow29 {
width:100%;
clear:none;
margin-left:0;
}

.31 1u28narrow29,.31 1u2428narrow29 {
width:91.666667%;
clear:none;
margin-left:0;
}

.31 0u28narrow29,.31 0u2428narrow29 {
width:83.333333%;
clear:none;
margin-left:0;
}

.39 u28narrow29,.39 u2428narrow29 {
width:75%;
clear:none;
margin-left:0;
}

.38 u28narrow29,.38 u2428narrow29 {
width:66.666667%;
clear:none;
margin-left:0;
}

.37 u28narrow29,.37 u2428narrow29 {
width:58.333333%;
clear:none;
margin-left:0;
}

.36 u28narrow29,.36 u2428narrow29 {
width:50%;
clear:none;
margin-left:0;
}

.35 u28narrow29,.35 u2428narrow29 {
width:41.666667%;
clear:none;
margin-left:0;
}

.34 u28narrow29,.34 u2428narrow29 {
width:33.333333%;
clear:none;
margin-left:0;
}

.33 u28narrow29,.33 u2428narrow29 {
width:25%;
clear:none;
margin-left:0;
}

.32 u28narrow29,.32 u2428narrow29 {
width:16.666667%;
clear:none;
margin-left:0;
}

.31 u28narrow29,.31 u2428narrow29 {
width:8.3333333%;
clear:none;
margin-left:0;
}

.31 2u2428narrow29 + *,.31 1u2428narrow29 + *,.31 0u2428narrow29 + *,.39 u2428narrow29 + *,.38 u2428narrow29 + *,.37 u2428narrow29 + *,.36 u2428narrow29 + *,.35 u2428narrow29 + *,.34 u2428narrow29 + *,.33 u2428narrow29 + *,.32 u2428narrow29 + *,.31 u2428narrow29 + * {
clear:left;
}

.-11u28narrow29 {
margin-left:91.66667%;
}

.-10u28narrow29 {
margin-left:83.33333%;
}

.-9u28narrow29 {
margin-left:75%;
}

.-8u28narrow29 {
margin-left:66.66667%;
}

.-7u28narrow29 {
margin-left:58.33333%;
}

.-6u28narrow29 {
margin-left:50%;
}

.-5u28narrow29 {
margin-left:41.66667%;
}

.-4u28narrow29 {
margin-left:33.33333%;
}

.-3u28narrow29 {
margin-left:25%;
}

.-2u28narrow29 {
margin-left:16.66667%;
}

.-1u28narrow29 {
margin-left:8.33333%;
}

body,input,select,textarea {
font-size:11pt;
}
}

@media screen and max-width 840px {
.container.31 2525 {
width:100%;
max-width:112.5%;
min-width:90%;
}

.container.37 525 {
width:67.5%;
}

.container.35 025 {
width:45%;
}

.container.32 525 {
width:22.5%;
}

.container {
width:90%!important;
}

.row > * {
padding:0 0 0 2em;
}

.row {
margin:0 0 -1px -2em;
}

.row.uniform > * {
padding:2em 0 0 2em;
}

.row.uniform {
margin:-2em 0 -1px -2em;
}

.row.32 0025 > * {
padding:0 0 0 4em;
}

.row.32 0025 {
margin:0 0 -1px -4em;
}

.row.uniform.32 0025 > * {
padding:4em 0 0 4em;
}

.row.uniform.32 0025 {
margin:-4em 0 -1px -4em;
}

.row.31 5025 > * {
padding:0 0 0 3em;
}

.row.31 5025 {
margin:0 0 -1px -3em;
}

.row.uniform.31 5025 > * {
padding:3em 0 0 3em;
}

.row.uniform.31 5025 {
margin:-3em 0 -1px -3em;
}

.row.35 025 > * {
padding:0 0 0 1em;
}

.row.35 025 {
margin:0 0 -1px -1em;
}

.row.uniform.35 025 > * {
padding:1em 0 0 1em;
}

.row.uniform.35 025 {
margin:-1em 0 -1px -1em;
}

.row.32 525 > * {
padding:0 0 0 .5em;
}

.row.32 525 {
margin:0 0 -1px -.5em;
}

.row.uniform.32 525 > * {
padding:.5em 0 0 .5em;
}

.row.uniform.32 525 {
margin:-.5em 0 -1px -.5em;
}

.31 2u28narrower29,.31 2u2428narrower29 {
width:100%;
clear:none;
margin-left:0;
}

.31 1u28narrower29,.31 1u2428narrower29 {
width:91.666667%;
clear:none;
margin-left:0;
}

.31 0u28narrower29,.31 0u2428narrower29 {
width:83.333333%;
clear:none;
margin-left:0;
}

.39 u28narrower29,.39 u2428narrower29 {
width:75%;
clear:none;
margin-left:0;
}

.38 u28narrower29,.38 u2428narrower29 {
width:66.666667%;
clear:none;
margin-left:0;
}

.37 u28narrower29,.37 u2428narrower29 {
width:58.333333%;
clear:none;
margin-left:0;
}

.36 u28narrower29,.36 u2428narrower29 {
width:50%;
clear:none;
margin-left:0;
}

.35 u28narrower29,.35 u2428narrower29 {
width:41.666667%;
clear:none;
margin-left:0;
}

.34 u28narrower29,.34 u2428narrower29 {
width:33.333333%;
clear:none;
margin-left:0;
}

.33 u28narrower29,.33 u2428narrower29 {
width:25%;
clear:none;
margin-left:0;
}

.32 u28narrower29,.32 u2428narrower29 {
width:16.666667%;
clear:none;
margin-left:0;
}

.31 u28narrower29,.31 u2428narrower29 {
width:8.3333333%;
clear:none;
margin-left:0;
}

.31 2u2428narrower29 + *,.31 1u2428narrower29 + *,.31 0u2428narrower29 + *,.39 u2428narrower29 + *,.38 u2428narrower29 + *,.37 u2428narrower29 + *,.36 u2428narrower29 + *,.35 u2428narrower29 + *,.34 u2428narrower29 + *,.33 u2428narrower29 + *,.32 u2428narrower29 + *,.31 u2428narrower29 + * {
clear:left;
}

.-11u28narrower29 {
margin-left:91.66667%;
}

.-10u28narrower29 {
margin-left:83.33333%;
}

.-9u28narrower29 {
margin-left:75%;
}

.-8u28narrower29 {
margin-left:66.66667%;
}

.-7u28narrower29 {
margin-left:58.33333%;
}

.-6u28narrower29 {
margin-left:50%;
}

.-5u28narrower29 {
margin-left:41.66667%;
}

.-4u28narrower29 {
margin-left:33.33333%;
}

.-3u28narrower29 {
margin-left:25%;
}

.-2u28narrower29 {
margin-left:16.66667%;
}

.-1u28narrower29 {
margin-left:8.33333%;
}

html,body {
overflow-x:hidden;
}

body,input,select,textarea {
font-size:11pt;
}

header.major {
padding:0 4em;
}

.box .image.featured {
margin-left:-2em;
width:calc(100%+4em);
}

.box .image.featured:first-child {
margin-bottom:3em;
margin-top:-3em;
}

.box .image.featured:last-child {
margin-bottom:-3em;
margin-top:3em;
}

#page-wrapper {
padding-top:0;
-moz-backface-visibility:hidden;
-webkit-backface-visibility:hidden;
-ms-backface-visibility:hidden;
backface-visibility:hidden;
-moz-transition:0 .5s ease;
-webkit-transition:0 .5s ease;
-ms-transition:0 .5s ease;
transition:transform .5s ease;
padding-bottom:1px;
}

#navButton {
-moz-backface-visibility:hidden;
-webkit-backface-visibility:hidden;
-ms-backface-visibility:hidden;
backface-visibility:hidden;
-moz-transition:0 .5s ease;
-webkit-transition:0 .5s ease;
-ms-transition:0 .5s ease;
transition:transform .5s ease;
display:block;
height:44px;
left:0;
position:fixed;
top:0;
width:100%;
z-index:10001;
}

#navButton .toggle {
text-decoration:none;
height:100%;
left:0;
position:absolute;
top:0;
width:100%;
border:0;
outline:0;
}

#navButton .toggle:before {
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-family:FontAwesome;
font-style:normal;
font-weight:400;
text-transform:none!important;
background:rgba(192,192,192,0.75);
border-radius:6px;
color:#fff;
content:'f0c9';
display:block;
font-size:16px;
height:2.25em;
left:.5em;
line-height:2.25em;
position:absolute;
text-align:center;
top:.5em;
width:3.5em;
}

#navPanel {
-moz-backface-visibility:hidden;
-webkit-backface-visibility:hidden;
-ms-backface-visibility:hidden;
backface-visibility:hidden;
-moz-transform:translateX(-275px);
-webkit-transform:translateX(-275px);
-ms-transform:translateX(-275px);
transform:translateX(-275px);
-moz-transition:0 .5s ease;
-webkit-transition:0 .5s ease;
-ms-transition:0 .5s ease;
transition:transform .5s ease;
display:block;
height:100%;
left:0;
overflow-y:auto;
position:fixed;
top:0;
width:275px;
z-index:10002;
background:#2b2b2b;
color:#bbb;
}

#navPanel .link {
border-bottom:0;
border-top:solid 1px rgba(255,255,255,0.05);
color:#bbb;
display:block;
height:44px;
line-height:44px;
text-decoration:none;
padding:0 1em;
}

#navPanel .link:first-child {
border-top:0;
}

#navPanel .link.depth-0 {
color:#fff;
}

#navPanel .link .indent-1 {
display:inline-block;
width:1em;
}

#navPanel .link .indent-2 {
display:inline-block;
width:2em;
}

#navPanel .link .indent-3 {
display:inline-block;
width:3em;
}

#navPanel .link .indent-4 {
display:inline-block;
width:4em;
}

#navPanel .link .indent-5 {
display:inline-block;
width:5em;
}

body.navPanel-visible #navPanel {
-moz-transform:translateX(0);
-webkit-transform:translateX(0);
-ms-transform:translateX(0);
transform:translateX(0);
}

h2 br,h3 br,h4 br,h5 br,h6 br,header br,#header {
display:none;
}

.box,.box.features > section {
padding:3em 2em;
}

body.navPanel-visible #page-wrapper,body.navPanel-visible #navButton {
-moz-transform:translateX(275px);
-webkit-transform:translateX(275px);
-ms-transform:translateX(275px);
transform:translateX(275px);
}
}

@media screen and max-width 736px {
.container.31 2525 {
width:100%;
max-width:125%;
min-width:100%;
}

.container.37 525 {
width:75%;
}

.container.35 025 {
width:50%;
}

.container.32 525 {
width:25%;
}

.container {
width:100%!important;
}

.row > * {
padding:0 0 0 2em;
}

.row {
margin:0 0 -1px -2em;
}

.row.uniform > * {
padding:2em 0 0 2em;
}

.row.uniform {
margin:-2em 0 -1px -2em;
}

.row.32 0025 > * {
padding:0 0 0 4em;
}

.row.32 0025 {
margin:0 0 -1px -4em;
}

.row.uniform.32 0025 > * {
padding:4em 0 0 4em;
}

.row.uniform.32 0025 {
margin:-4em 0 -1px -4em;
}

.row.31 5025 > * {
padding:0 0 0 3em;
}

.row.31 5025 {
margin:0 0 -1px -3em;
}

.row.uniform.31 5025 > * {
padding:3em 0 0 3em;
}

.row.uniform.31 5025 {
margin:-3em 0 -1px -3em;
}

.row.35 025 > * {
padding:0 0 0 1em;
}

.row.35 025 {
margin:0 0 -1px -1em;
}

.row.uniform.35 025 > * {
padding:1em 0 0 1em;
}

.row.uniform.35 025 {
margin:-1em 0 -1px -1em;
}

.row.32 525 > * {
padding:0 0 0 .5em;
}

.row.32 525 {
margin:0 0 -1px -.5em;
}

.row.uniform.32 525 > * {
padding:.5em 0 0 .5em;
}

.row.uniform.32 525 {
margin:-.5em 0 -1px -.5em;
}

.31 2u28mobile29,.31 2u2428mobile29 {
width:100%;
clear:none;
margin-left:0;
}

.31 1u28mobile29,.31 1u2428mobile29 {
width:91.666667%;
clear:none;
margin-left:0;
}

.31 0u28mobile29,.31 0u2428mobile29 {
width:83.333333%;
clear:none;
margin-left:0;
}

.39 u28mobile29,.39 u2428mobile29 {
width:75%;
clear:none;
margin-left:0;
}

.38 u28mobile29,.38 u2428mobile29 {
width:66.666667%;
clear:none;
margin-left:0;
}

.37 u28mobile29,.37 u2428mobile29 {
width:58.333333%;
clear:none;
margin-left:0;
}

.36 u28mobile29,.36 u2428mobile29 {
width:50%;
clear:none;
margin-left:0;
}

.35 u28mobile29,.35 u2428mobile29 {
width:41.666667%;
clear:none;
margin-left:0;
}

.34 u28mobile29,.34 u2428mobile29 {
width:33.333333%;
clear:none;
margin-left:0;
}

.33 u28mobile29,.33 u2428mobile29 {
width:25%;
clear:none;
margin-left:0;
}

.32 u28mobile29,.32 u2428mobile29 {
width:16.666667%;
clear:none;
margin-left:0;
}

.31 u28mobile29,.31 u2428mobile29 {
width:8.3333333%;
clear:none;
margin-left:0;
}

.31 2u2428mobile29 + *,.31 1u2428mobile29 + *,.31 0u2428mobile29 + *,.39 u2428mobile29 + *,.38 u2428mobile29 + *,.37 u2428mobile29 + *,.36 u2428mobile29 + *,.35 u2428mobile29 + *,.34 u2428mobile29 + *,.33 u2428mobile29 + *,.32 u2428mobile29 + *,.31 u2428mobile29 + * {
clear:left;
}

.-11u28mobile29 {
margin-left:91.66667%;
}

.-10u28mobile29 {
margin-left:83.33333%;
}

.-9u28mobile29 {
margin-left:75%;
}

.-8u28mobile29 {
margin-left:66.66667%;
}

.-7u28mobile29 {
margin-left:58.33333%;
}

.-6u28mobile29 {
margin-left:50%;
}

.-5u28mobile29 {
margin-left:41.66667%;
}

.-4u28mobile29 {
margin-left:33.33333%;
}

.-3u28mobile29 {
margin-left:25%;
}

.-2u28mobile29 {
margin-left:16.66667%;
}

.-1u28mobile29 {
margin-left:8.33333%;
}

body,input,select,textarea {
font-size:11pt;
}

h2 {
font-size:1.75em;
line-height:1.35em;
letter-spacing:-.025em;
}

h3 {
font-size:1.5em;
}

h4 {
font-size:1em;
}

header.major {
padding:1em;
}

header.major h2,header.major p {
padding-left:.5em;
padding-right:.5em;
}

.box {
overflow-x:hidden;
margin:1em;
padding:2em!important;
}

.box.features .features-row {
border-top:0;
padding:0;
}

.box.features .features-row section {
border:0;
border-top:solid 1px #e5e5e5!important;
float:none;
width:100%;
margin:2em 0 0!important;
padding:2em 0 0!important;
}

.box.features .features-row:first-child section:first-child {
border-top:0!important;
margin-top:0!important;
padding-top:0!important;
}

.box .image.featured {
margin-left:-2em;
width:calc(100%+4em);
}

.box .image.featured:first-child {
margin-bottom:2em;
margin-top:-2em;
}

.box .image.featured:last-child {
margin-bottom:-2em;
margin-top:2em;
}

.button.block {
width:100%;
}

#banner h2 {
font-size:2.25em;
}

#banner p {
font-size:1.25em;
}

#main {
padding:4em 0 0;
}

#main > header {
margin:0 2em 1.5em;
}

#main > header h2 {
font-size:2em;
}

#main > header p {
font-size:1em;
padding-bottom:1em;
}

body.landing #main {
margin-top:0;
padding:0;
}

#footer .copyright li {
border-left:0;
display:block;
line-height:2em;
margin-left:0;
padding-left:0;
}

#banner,#footer {
padding:4em 0;
}
}

@media screen and max-width 480px {
.container.31 2525 {
width:100%;
max-width:125%;
min-width:100%;
}

.container.37 525 {
width:75%;
}

.container.35 025 {
width:50%;
}

.container.32 525 {
width:25%;
}

.container {
width:100%!important;
}

.row > * {
padding:0 0 0 2em;
}

.row {
margin:0 0 -1px -2em;
}

.row.uniform > * {
padding:2em 0 0 2em;
}

.row.uniform {
margin:-2em 0 -1px -2em;
}

.row.32 0025 > * {
padding:0 0 0 4em;
}

.row.32 0025 {
margin:0 0 -1px -4em;
}

.row.uniform.32 0025 > * {
padding:4em 0 0 4em;
}

.row.uniform.32 0025 {
margin:-4em 0 -1px -4em;
}

.row.31 5025 > * {
padding:0 0 0 3em;
}

.row.31 5025 {
margin:0 0 -1px -3em;
}

.row.uniform.31 5025 > * {
padding:3em 0 0 3em;
}

.row.uniform.31 5025 {
margin:-3em 0 -1px -3em;
}

.row.35 025 > * {
padding:0 0 0 1em;
}

.row.35 025 {
margin:0 0 -1px -1em;
}

.row.uniform.35 025 > * {
padding:1em 0 0 1em;
}

.row.uniform.35 025 {
margin:-1em 0 -1px -1em;
}

.row.32 525 > * {
padding:0 0 0 .5em;
}

.row.32 525 {
margin:0 0 -1px -.5em;
}

.row.uniform.32 525 > * {
padding:.5em 0 0 .5em;
}

.row.uniform.32 525 {
margin:-.5em 0 -1px -.5em;
}

.31 2u28mobilep29,.31 2u2428mobilep29 {
width:100%;
clear:none;
margin-left:0;
}

.31 1u28mobilep29,.31 1u2428mobilep29 {
width:91.666667%;
clear:none;
margin-left:0;
}

.31 0u28mobilep29,.31 0u2428mobilep29 {
width:83.333333%;
clear:none;
margin-left:0;
}

.39 u28mobilep29,.39 u2428mobilep29 {
width:75%;
clear:none;
margin-left:0;
}

.38 u28mobilep29,.38 u2428mobilep29 {
width:66.666667%;
clear:none;
margin-left:0;
}

.37 u28mobilep29,.37 u2428mobilep29 {
width:58.333333%;
clear:none;
margin-left:0;
}

.36 u28mobilep29,.36 u2428mobilep29 {
width:50%;
clear:none;
margin-left:0;
}

.35 u28mobilep29,.35 u2428mobilep29 {
width:41.666667%;
clear:none;
margin-left:0;
}

.34 u28mobilep29,.34 u2428mobilep29 {
width:33.333333%;
clear:none;
margin-left:0;
}

.33 u28mobilep29,.33 u2428mobilep29 {
width:25%;
clear:none;
margin-left:0;
}

.32 u28mobilep29,.32 u2428mobilep29 {
width:16.666667%;
clear:none;
margin-left:0;
}

.31 u28mobilep29,.31 u2428mobilep29 {
width:8.3333333%;
clear:none;
margin-left:0;
}

.31 2u2428mobilep29 + *,.31 1u2428mobilep29 + *,.31 0u2428mobilep29 + *,.39 u2428mobilep29 + *,.38 u2428mobilep29 + *,.37 u2428mobilep29 + *,.36 u2428mobilep29 + *,.35 u2428mobilep29 + *,.34 u2428mobilep29 + *,.33 u2428mobilep29 + *,.32 u2428mobilep29 + *,.31 u2428mobilep29 + * {
clear:left;
}

.-11u28mobilep29 {
margin-left:91.66667%;
}

.-10u28mobilep29 {
margin-left:83.33333%;
}

.-9u28mobilep29 {
margin-left:75%;
}

.-8u28mobilep29 {
margin-left:66.66667%;
}

.-7u28mobilep29 {
margin-left:58.33333%;
}

.-6u28mobilep29 {
margin-left:50%;
}

.-5u28mobilep29 {
margin-left:41.66667%;
}

.-4u28mobilep29 {
margin-left:33.33333%;
}

.-3u28mobilep29 {
margin-left:25%;
}

.-2u28mobilep29 {
margin-left:16.66667%;
}

.-1u28mobilep29 {
margin-left:8.33333%;
}

html,body {
min-width:320px;
}

body,input,select,textarea {
font-size:11pt;
}

header.major {
padding:0;
}

ul.actions {
margin:0 0 2em;
}

ul.actions li {
display:block;
text-align:center;
width:100%;
padding:1em 0 0;
}

ul.actions li > * {
width:100%;
margin:0!important;
}

ul.actions li > .icon:before {
margin-left:-2em;
}

ul.actions.small li {
padding:.5em 0 0;
}

.box {
border-radius:0;
box-shadow:none;
margin:1em 0 0;
padding:3em 1em!important;
}

.box.features .features-row section {
margin:3em 0 0!important;
padding:3em 0 0!important;
}

.box .image.featured {
border-radius:0;
margin-left:-1em;
width:calc(100%+2em);
}

.box .image.featured img {
border-radius:0!important;
}

.box .image.featured:first-child {
margin-bottom:3em;
margin-top:-3em;
}

.box .image.featured:last-child {
margin-bottom:-3em;
margin-top:3em;
}

.button.block {
width:100%;
}

#banner {
padding:5em 1em 4em;
}

#main > .box:first-child {
margin-top:0;
}

#cta {
padding:2.5em 1em 3em;
}

ul.actions li:first-child,ul.actions.small li:first-child {
padding-top:0;
}
}

@media min-width 1681px {
#banner {
background-image:url(images/overlay-min.png),;
}

.button.block {
width:400px;
}

.box.phone .tech-block {
height:340px;
}

.box.phone .one-tech {
background-image:url(../img/router-min.png);
margin-left:10em;
}

.box.phone .two-tech {
background-image:url(../img/phone1-min.png);
}

.box.phone .four-tech {
margin-left:18.5em;
}

.box.phone .text {
height:110px;
}

.box.phone .text p {
line-height:20px;
}
}

@media max-width550px {
#cta input[type=text] {
margin-left:0;
}

#cta input[type=button] {
margin:0;
}

.box.phone .tech-block {
width:46%;
height:140px;
margin:10px 10px 0 1px;
}

.box.phone .text {
width:135px;
height:90px;
background-color:#47BEFC;
text-align:left;
vertical-align:middle;
margin:3.5em 1px 0 2px;
padding:5px;
}

.box.phone .line {
position:absolute;
width:55px;
height:3px;
left:130px;
top:100px;
z-index:10;
background-color:#47BEFC;
}

.box.phone .one-tech {
background-size:3.5em 2.5em;
margin-left:3em;
}

.box.phone .two-tech,.box.phone .three-tech,.box.phone .four-tech,.box.phone .five-tech {
background-size:3.5em 6.5em;
}
}